

header {
    margin-top: 150px;
    margin-left: 2%;
    height: 400px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #e9be30;
    background-image: url(../images/asfalt-dark.png);

}
header img{
    margin-top: 40px;
}

h2 {
 color: white;
 font-weight: 400;
}

.header_name{
 font-family: 'Source Sans Pro', sans-serif;
 font-weight: 800;
 margin-top: 10px;
 font-size: 40px;


}

@media (max-width:1200px){
    header {
       height: 300px;
    } 
    header img{
        width: 200px;
    }
    h2 {
       margin-top: 0px;
       font-size: 30px;
       }
  
}
@media (max-width:800px) {
    header {
        margin-top: 110px;
        width: 100%;
        margin-left: 0px;
        height: 360px;
    } 
    header img{
        width: 220px;
    }
}
@media only screen and (max-width: 420px) {
    header {
        margin-top: 110px;
        width: 100%;
        margin-left: 0px;
        /* height: 360px; */
    } 
    header img{
        width: 160px;
    }

  }